.button {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: none;
    background-color: #209e20a2;
}

.button__task--remove {
    background-color: #e92020c4;
}

.addTaskButton {
    background-color: #087777;
    color: white;
    padding: 5px;
    border: 0px;
}