.button {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: none;
    background-color: #209e20a2;
    transition: 0.5s;
}

.button:hover {
    background-color: #2bdf2ba2;
}

.button__task--remove {
    background-color: #bb1919c4;
}

.button__task--remove:hover {
    background-color: #ee3737c4;
}

.addTaskButton {
    background-color: #087777;
    color: white;
    padding: 5px;
    border: 0px;
    transition: 0.5s;
}

.addTaskButton:hover {
    background-color: #099e9e;
    transform: scale(1.1);
}