.content {
    max-width: 700px;
    margin: auto;
    margin-top: 50px;
    background-color: #ddd;
    font-family: 'Lato', serif;
}

.header {
    background-color: white;
    padding: 20px;
    margin: 2px 0;
}

.form {
    background-color: white;
    padding: 20px;
    margin: 2px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.content__taskList {
    background-color: white;
    padding: 10px;
}

.form__newTask {
    display: flex;
    flex-grow: 1;
    margin-right: 5px;
}

@media (max-width: 677px) {
    .form {
        display: flex;
        flex-direction: column;
    }

    .form__newTask {
        min-width: 100%;
        margin-bottom: 5px;
    }
}