html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}


.list__item {
    padding: 5px;
    display: flex;
    justify-content: center;
}

.list__item--done {
    text-decoration: line-through;
}

.addTaskButton {
    background-color: teal;
    color: white;
    padding: 5px;
    border: 0px;
}

.button {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: none;
    background-color: #209e20a2;
}

.button__task--remove {
    background-color: #e92020c4;
}

.task__content {
    word-break: break-word;
    min-width: 91%;
    padding: 5px;
}